{% extends 'base.html' %}
{% block 'main' %}
    <div class="row">
        <div class="col-md-5 shadow my-3 mx-auto register p-4">
            {% if errmsg %}
            <div class="alert alert-danger">
                {{errmsg}}
            </div>
            {% endif %}
            <h3 class="text-bg-primary p-2 mt-2 text-center">Employee Details</h3>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="first" class="form-label" ><strong>First Name</strong></label>
                    <input type="text" class="form-control" id="first" name="fname" placeholder="Enter first name">
                </div>
                <div class="mb-3">
                    <label for="second" class="form-label" ><strong>Last Name</strong></label>
                    <input type="text" class="form-control" id="second" name="lname" placeholder="Enterlast name">
                </div>
                
                <div class="mb-3">
                    <label for="third" class="form-label" ><strong>Date of Birth</strong></label>
                    <input type="date" class="form-control" id="third" name="dob">
                </div>

                <div class="mb-3">
                    <label for="fourth" class="form-label"><strong>Email</strong></label>
                    <input type="email" class="form-control" name="email" id="fourth" placeholder="Enter Your Email">
                </div>

                <div class="mb-3">
                    <label for="fifth" class="form-label" ><strong>Phone</strong></label>
                    <input type="text" class="form-control" id="fifth" name="phone" placeholder="Enter phone number">
                </div>

                <div class="mb-3">
                    <input type="submit" value="Submit" class="btn btn-danger">
                </div>
                {% if success %}
                <div class="alert alert-success">
                    {{success}}
                </div>   
                {% endif %}
            </form>
        </div><!--form end-->
    </div>
       





{% endblock 'main' %}