{% extends 'base.html' %}
{% block 'main' %}


<div class="col-md-8">
    <h3 class="text-bg-primary p-2 mt-4 text-center">Employee Details</h3>

    <table class="table table-striped table-hover">
        <tr>
            <th>Serial No</th>
            <th>fname</th>
            <th>lname</th>
            <th>Date of birth</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {% for x in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{x.fname}}</td>
                    <td>{{x.lname}}</td>
                    <td>{{x.dob}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.phone}}</td>
                </tr>
        {% endfor %}
    </table>
</div>


 {% endblock 'main' %}